/* .App {
  display: flex;
  width: 100vw;
  height: 85vh;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;
  padding: auto;
}  */
/* 
footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  background-color: rgb(167, 189, 126);
}

footer a {
  margin: 0
}

nav {
  background-color: rgb(194, 212, 161);
}
.navbar > inlineb { display : inline-block} */